@media only screen and (max-width: 600px) {
    #functionRow {
        
    }
    #enterListNameForm {
        width: 70%;
    }

    #enterListDescriptionForm {
        width: 70%;
    }
}

@media only screen and (max-width: 274px) {
    #functionRow {
        
    }
    #enterListNameForm {
        width: 80%;
    }

    #enterListDescriptionForm {
        width: 80%;
    }
    
    #dropDownOptions {
        display: none;
    }
}
