
#listContainer {
    width: 80%;
    margin: auto;
    margin-top: 5%;
}

#listTitle {
    text-align: center;
}



#headingContainer {
    margin-top: 10%;
}

.inputPanel {
    padding: 1.5%;
}
#listTableContainer {
    padding:  0;
}

#listTable {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}
